@page
@model PizzaStore.Web.Pages.EditPizzaModel
@{
}

@* Note: Many of the "class=" instances reference Bootstrap sytles. *@

@* Begin render Add code block *@
<form method="post">
	@* 	The PizzaModels.id is here so the full data model is represented on the page.
	The database behind the API will assign the id. *@
	<input hidden asp-for="PizzaModels.Id" />
	<div class="border p-3 mt-4" style="width:50%">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Edit Pizza</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="PizzaModels.Name" class="h5"></label><br />
			@* Empty text box for the name of the pizza to be added. *@
			<input type="text" asp-for="PizzaModels.Name"/>
			<span asp-validation-for="PizzaModels.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PizzaModels.Description" class="h5"></label><br />
			@* Empty text box for the name of the pizza to be added. *@
			<input type="text" asp-for="PizzaModels.Description"/>
			<span asp-validation-for="PizzaModels.Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PizzaModels.Price" class="h5"></label><br />
			@* Empty text box for the name of the pizza to be added. *@
			<input type="number" asp-for="PizzaModels.Price" step="0.01" min="0.01" max="99999.99"/>
			<span asp-validation-for="PizzaModels.Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PizzaModels.IsGlutenFree" class="h5"></label><br />
			@* Render the true/false IsGlutenFree state from the record in an editable checkbox. *@
			<input type="checkbox" asp-for="PizzaModels.IsGlutenFree" style="width:20px; height:20px" />
			<label class="h7"><i class="bi bi-arrow-left"></i>  Check the box if it's gluten free.</label>
			<span asp-validation-for="PizzaModels.IsGlutenFree" class="text-danger"></span>
		</div>
		@* Submit the addition or return to the Index page if the Add is cancelled.*@
		<button type="submit" class="btn btn-primary" style="width:150px;">Edit</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;">Cancel</a>
	</div>
</form>
@* End render Add code block *@
